@using My_Final_Project.Models.Enum
@model IEnumerable<My_Final_Project.Models.DTOs.TherapistDto>

<div class="container p-3">

    <div class="row pt-4">

        <div class="col-6">

            <h2 calss="text-primary">ViewAll UnApproved Therapist</h2>

        </div>

        <div>
            <table class="table table-bordered table-striped" style="width:100%">

                <thead>

                    <tr>

                        <th>
                            FirstName
                        </th>

                        <th>
                            LastName
                        </th>

                        <th>
                            PhoneNumber
                        </th>

                    </tr>

                </thead>

                @foreach(var therapist in Model)
                {
                    <tr>
                        <th>
                            @therapist.FirstName
                        </th>

                        <th>
                            @therapist.LastName
                        </th>

                        <th>
                            @therapist.PhoneNumber
                        </th>
                    </tr>

                    <div style="margin-bottom:2%">
                        <input type="submit" value="Aprrove" id="form-submit">
                    </div>
                }

            </table>
        </div>

    </div>

