@model My_Final_Project.Models.DTOs.CreateBookingRequestModel
@{
    ViewData["Title"] = "Booking Registration";
    Layout = null;
}

<h5>Booking Registration</h5>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <section class="vh-100" style="background-color: #2779e2;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-9">

                    <h1 class="text-white mb-4">Book</h1>

                    <div class="card" style="border-radius: 15px;">
                        <form asp-action="Create" class="forms">

                            <input asp-for="TherapistId" hidden />
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">AppointmentDateTime</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <input type="datetime-local" class="form-control form-control-lg" asp-for="AppointmentDateTime" id="" />
                                </div>
                            </div>

                            <div style="margin-bottom:auto">
                                <input type="submit" value="Book" class="btn-btn-primary" id="form-submit">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>












@*<h5>BOOKING REGISTRATION</h5>
<fieldset>
    <form asp-action="Create" method="post" class="forms" enctype="multipart/form-data">
        <div class="input">
            <div style="margin-bottom:auto">
                <label for="AppointmentDate">AppointmentDate</label><br>
                <input type="date" placeholder="Enter your AppointmentDate" name="AppointmentDate" id="trans">
            </div>

            <div style="margin-bottom:auto">
                <label for="AppointmentTime">AppointmentTime</label><br>
                <input type="time" placeholder="Enter your AppointmentTime" name="AppointmentTime" id="trans">
            </div>

            <div style="margin-bottom:auto">
                <input type="submit" value="Register" id="form-submit">
            </div>
        </div>

    </form>
</fieldset>*@
