@using My_Final_Project.Models.Enum
@model My_Final_Project.Models.DTOs.BookingDto

<partial name="_Notification" />

<!DOCTYPE html>
<!-- / Navbar -->
<!-- Content wrapper -->
<body style="background-color: blue; height: 100vh;">
    <br />
    <br />
    <div class="content-wrapper"
         style=" position: absolute;
                    top: 20%; left: 30%;
                    height: 60vh;
                    width: 30vw;
                    /*box-shadow: 3px 3px  6px 6px #fff; */
                    border: 1px solid grey;
                    border-radius: 30px;
                    padding-left: 30px;
                    background-color: white;
                    color: blue;
">
        <!-- Content -->b
        <div>
            <h3 align="center">Booking Details</h3>
            <div style="width: 10vw;
                       height: 20vh;
                       background-color: lightgrey;
                       border-radius: 50%;
                       margin-left: 28%;
                       box-shadow: 3px 3px 3px 3px grey;

">
            </div>
            <div style="margin-top: 30px;">
                <div>
                    <h5>@Html.DisplayNameFor(model => model.AppointmentDateTime) : @Html.DisplayFor(model => model.AppointmentDateTime)</h5>
                </div>

            </div>
            <button id="trans" style="background-color:yellow;"><a asp-controller="Booking" asp-action="Update">Edit</a></button>
            <button id="trans" style="background-color:red;"><a asp-controller="Booking" asp-action="Delete">CancelBooking</a></button>
            <div class="content-backdrop fade"></div>
        </div>

    </div>
</body>
