@using My_Final_Project.Models.Enum
@model My_Final_Project.Models.DTOs.CreateClientRequestModel
@using System.ComponentModel.DataAnnotations

<h1>Client Registration</h1>

<partial name="_Notification" />

@*<!DOCTYPE html>
<html lang="en">*@

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <section class="vh-100" style="background-color: #2779e2;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-9">

                    <h4 class="text-white mb-4">Add a new Client</h4>

                    <div class="card" style="border-radius: 15px;">
                        <form asp-action="Create" class="forms" enctype="multipart/form-data">
                            <div class="card-body">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" });

                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">First Name</h6>
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <input asp-for="FirstName" type="text" class="form-control form-control-lg" id="firstname" name="FirstName" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Last Name</h6>
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <input asp-for="LastName" type="text" class="form-control form-control-lg" id="lastname" name="LastName" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">PhoneNumber</h6>
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <input asp-for="PhoneNumber" type="number" class="form-control form-control-lg" id="phonenumber" name="PhoneNumber" />
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <input asp-for="Email" type="email" class="form-control form-control-lg" id="email" name="Email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">PassWord</h6>
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <input asp-for="Password" type="password" class="form-control form-control-lg" id="password" name="Password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">State</h6>
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <input asp-for="State" type="text" class="form-control form-control-lg" id="state" name="State" />
                                        <span asp-validation-for="State" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">DateOfBirth</h6>
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <input type="date" class="form-control form-control-lg" id="dateOfBirth" name="DateOfBirth" />
                                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Gender</h6>
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <select id="gender" asp-for="Gender" asp-items="@Html.GetEnumSelectList(typeof(Gender))" placeholder="Gender"></select>
                                    </div>
                                </div>

                                <div style="margin-bottom:auto">
                                    <input type="submit" value="Register" class="btn-primary" id="form-submit">
                                </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"></script>
</body>

</html>