@using Microsoft.AspNetCore.Identity
@using My_Final_Project.Models.Entities
@model IEnumerable<My_Final_Project.Models.DTOs.ChatDto>
 @{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healing Forever Chat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
    <main>
        <header>
            <div class="title">
                <img src="Icons/7652.jpg" width="35" class="src">
                <h1>Healing Forever</h1>
            </div>
            <button>
                <ion-icon name="menu-outline" onclick="showhide()"></ion-icon>
            </button>
        </header>

        <div class="container">

            <div class="chat-window">
                <div class="chat">
                    @if (Model == null)
                    {
                        <p>Start a new conversation</p>
                    }
                    else
                    {
                        @foreach (var chat in @Model)
                        {
                            if (chat.LoggedInId == chat.SenderId || chat.LoggedInId == chat.RecieverId)
                            {

                                <div class="message outgoing">
                                <p>@chat.Message</p>
                                </div>
                            }
                            else
                            {

                            <div class="message incoming">
                                <p>@chat.Message</p>
                            </div>
                            }
                        }
                    }
                    
                </div>
                <form asp-action="Chat">
                    <div class="user-input">
                        <input type="text" for="Message" placeholder="Type your message...." name="Message" required>
                        <input type="submit" value="SEND" class="btn-primary">
                    </div>
                </form>
                
            </div>
        </div>
    </main>

    <script>
        var uwindow = document.querySelector('.users-window');
        function showhide() {
            if (uwindow.style.display == "block") {
                uwindow.style.display = "none"
            }
            else {
                uwindow.style.display = "block"
            }
        }
    </script>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>